*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* write all your rules below */
body{
    background-color: gray;
}


#heading{
    background-color: pink;

    border: 8px solid red;

    padding: 15px;

    margin: 40px;
}

.box1{
    background-color: aquamarine;

    width: 1200px;
    height: 200px;

    padding-top: 100px;
    padding-left: 100px;

    margin-bottom: 50px;
}

.box2{
    background-color: yellow;

    border: 10px solid pink;

    width: 660px;
    height: 100px;

    padding: 20px;

    margin-left: 40px;
    margin-bottom: 50px;
}


.blue{
    color: blue;
}

.green{
    color: ;
}

.purple{
    color: purple;
}